.body {
      margin: 0;
      background-color: white; /* 背景色を白に設定 */
      font-family: Arial, sans-serif;
    }

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

    .container {
      width: 100%;
      margin: none;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(173 230 226 / 59%); /* 50%の透過処理 */
      position: fixed; /* スクロール時に固定 */
      width: 108%;
      top: 0;
      z-index: 1000; /* 他の要素の上に表示 */
      transition: top 0.3s; /* スムーズな移動 */
      overflow: hidden; /* 追加: はみ出しを防ぐ */
      height: 60px; /* ヘッダーの高さを50pxに設定 */
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /*下に影を設定*/
      margin-left: -5%;
    }

    .header img {
      width: 15%;
      height: 50%;
      margin-left:10%;
    }

    .header h4 {
      margin: 100px;
      margin-right:10%;
      white-space: nowrap; /* 追加: テキストの折り返しを防ぐ */
    }

    .header a {
      margin: 0 15px;
      text-decoration: none;
      color: #000;
    }

    .main {
      width: 90%;
      margin: 50px auto 0; /* ヘッダーの高さ分の余白を追加 */
      background: transparent; /* 背景を透明に設定 */
      padding: 20px;
      box-shadow: none; /* ボックスシャドウを削除 */
    }

.main h2{
      margin-top:20%;
      margin-bottom:20%;
      text-align:center;
      font-size:220%;
}

.article_main h3{
      margin-left:8%;
      font-size:180%;
}

.article_main a{
      margin-left:10%;
      font-size:130%;
      text-decoration-line:none;
      color:#000000;
}

.about_me h5{
      margin-left:8%;
      font-size:160%
}

.about_me d{
      margin-left:30%;
       font-size:140%;
}

.about_me e{
  margin-left:30%;
  font-size:100%;
}

.about_me f{
  margin-left:10%;
}

.past_articles h6{
      margin-left:8%;
      font-size:160%;
}

.past_articles g{
      margin-left:10%;
}

.fooder{
  background:#000000;
  justify-content:space-between;
  width:100.9%;
  overflow:hidden;
  color:#FFFFFF;
  text-align:center;
  height:70px;
  margin-left:-0.5%;
  margin-bottom:-40%
}
