.body {
      margin: 0;
      background-color: white; /* 背景色を白に設定 */
      font-family: Arial, sans-serif;
    }

    .container {
      width: 100%;
      margin: 0 auto;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(173, 216, 230, 0.8); /* 50%の透過処理 */
      padding: 5px 40px;
      position: fixed; /* スクロール時に固定 */
      width: 100%;
      top: 0;
      z-index: 1000; /* 他の要素の上に表示 */
      transition: top 0.3s; /* スムーズな移動 */
      overflow: hidden; /* 追加: はみ出しを防ぐ */
      height: 50px; /* ヘッダーの高さを50pxに設定 */
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /*下に影を設定*/
      margin-left: -5px;
    }

    .header img {
      width: 100px;
      height: auto;
    }

    .header h4 {
      margin: 100px;
      white-space: nowrap; /* 追加: テキストの折り返しを防ぐ */
    }

    .header a {
      margin: 0 15px;
      text-decoration: none;
      color: #000;
    }

    .main {
      width: 90%;
      margin: 50px auto 0; /* ヘッダーの高さ分の余白を追加 */
      background: transparent; /* 背景を透明に設定 */
      padding: 20px;
      box-shadow: none; /* ボックスシャドウを削除 */
    }
